.square {
    width: 100%;
    height: 100%;
}

.square.light {
    background: #ccc;
}

.square.dark {
    background: #555;
}

.white.king {
    background-size: contain;
    background-image: url("/pieces/white-king.png");
}
.white.queen {
    background-size: contain;
    background-image: url("/pieces/white-queen.png");
}
.white.bishop {
    background-size: contain;
    background-image: url("/pieces/white-bishop.png");
}
.white.knight {
    background-size: contain;
    background-image: url("/pieces/white-knight.png");
}
.white.rook {
    background-size: contain;
    background-image: url("/pieces/white-rook.png");
}
.white.pawn {
    background-size: contain;
    background-image: url("/pieces/white-pawn.png");
}

.black.king {
    background-size: contain;
    background-image: url("/pieces/black-king.png");
}
.black.queen {
    background-size: contain;
    background-image: url("/pieces/black-queen.png");
}
.black.bishop {
    background-size: contain;
    background-image: url("/pieces/black-bishop.png");
}
.black.knight {
    background-size: contain;
    background-image: url("/pieces/black-knight.png");
}
.black.rook {
    background-size: contain;
    background-image: url("/pieces/black-rook.png");
}
.black.pawn {
    background-size: contain;
    background-image: url("/pieces/black-pawn.png");
}